@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.bg-green{
    background-color:#41ad2b ;
    color:#fff;
}


.header-bg{
   background-color:lightslategrey ;
    color:#fff;  
    padding-top: 1.5rem; 
}

.bg-green:hover{
    background-color: #fff ;
    color:#41ad2b;
}

  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:2.5rem;
	right:2.5rem;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.cta{
    padding: 0.5rem 1.5rem;
	margin-left:3rem;
    cursor:pointer;
    border:none;
    border-radius: 2rem;
    color: #41ad2b;
    transition : all 0.3s ease 0s;	
}

.table{
	margin-top: 4rem;
}


@media(max-width:480px){
	
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40rem;
    left:20rem;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

}