@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

 header li , header p, header button{
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.logo{
    margin-top: 1rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    cursor:pointer;
    font-size: 1.5rem;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #41ad2b;
    padding: 1.5rem 2rem;
    height: 4rem;
}


.navbar-list{
    margin-top: 2rem;
    list-style: none;
}

.navbar-list li{
    display: inline-block;
    padding: 1.5rem 1.5rem;
}

.navbar-list li p{
  cursor:pointer;
  transition : all 0.3s ease 0s;
}


.navbar-list li p:hover{
  color: #2349a8;
  font-size: 1.2rem;
}

header button{
    padding: 0.5rem 1.5rem;
    cursor:pointer;
    border:none;
    border-radius: 2rem;
    transition : all 0.3s ease 0s;
     color: #41ad2b;
     text-decoration: none;
}


header button:hover{
    background-color:  #41ad2b;
    border: 1px solid #fff;
    padding: 0.7rem 1.8rem;
    transition : all 0.3s ease 0s;
      color: #fff;
     text-decoration: none;
}


@media only screen and (max-width: 480px ){
    .navbar-list{
        display: none;
    }

    header{
        position:fixed;
        top:0;
        left:0;
        width:100vw;
    }

   .logo{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        cursor:pointer;
        font-size: 1.5rem;
        width: 15rem;
        margin-top:0.6rem;
        text-align :center;
    }
 
}



