.loading-container{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top : 0;
    left: 0;
    background-color: #fff;
    padding: 2rem;
    display:flex;
    justify-content: center;
    align-items:center;
}


#gif{
    width: 10rem;
    height: 10rem;
}
