.sideBar{
    flex: 1;
    background-color: #fff;
    height: calc(100vh- 50px);
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    /* padding: 20px;
    padding-left :0px */ 
}

.sideBarUp{
    margin-right: 0px;
    padding-right: 0px;
}


.sideBarDown{
 border-radius: 5px;
 padding: 10px  0px;
 margin-left: 15px ;
 /* display: flex;
 align-items: center;
 justify-content: center; */
}

.sideBarDown:hover{
 background-color: rgba(211, 211, 211,0.7);

}

.sideBarHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
   
}


.sideBarImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit:cover;
    margin-bottom: 10px;
    cursor: pointer;
   
}

.sideBarUserName{
    font-size: 16px;
    font-weight:300;
    color: darkslategrey;
    text-align:center;
    cursor: pointer;
}

.sideBarContent{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;
}

.sideBarContentTitle{
    /* align-self:center; */
    font-size: 22px;
    font-weight:600;
    color: darkslategrey;
    margin: 5px 0px;
    margin-left: 15px;
}

.sideBarList{
    list-style: none;
   
}

.sideBarListItem{
 display:flex;
 align-items: center;
 margin: 10px 0px ;
 padding: 10px;
 padding-left: 18px;
 cursor: pointer;
}

.sideBarListItem:hover{
 background-color: rgba(211, 211, 211,0.7);
 border-radius: 5px;
}

.sideBarIcon{
    margin-right: 10px;
    font-size: 16px important!;
}


