.pageMain{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction:column;
    padding: 1.5rem 2rem;
    width: 100vw;
    margin-top: 3rem;
    height:auto;
}

.PageMainContent{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 3rem;
}

.pageMainImg{
    width: 400px;
    height: 400px;
    margin-right: 1rem;
    border: 0.5px solid transparent;
    border-radius: 50%;
}

.innerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 1.5rem;   
}

.innerContentTitle{
    font-size: 1.8rem;
    text-align: center;
    color: #000;
    font-weight: 600;
}

.innerContentText{
    width: 70%;
    font-size: 1.0rem;
    color: #000;
    padding: 0.5rem 0.5rem;
    line-height: 1.7rem;
}


.mainPageAbout{
    background-color:  #41ad2b;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1.0rem 1.5rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    color: #fff;
    transition : all 0.3s ease 0s;
}


.mainPageAbout:hover{
    background-color:rgba(255,255,255,0.5);
    border: none;
    border-radius: 5px;
    padding: 1.2rem 1.8rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    color: #41ad2b;

}

.mainPageButton{
    background-color:  #41ad2b;
    border: 1px solid #fff;
    border-radius: 2rem;
    padding: 1.0rem 1.5rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    color: #fff;
    transition : all 0.3s ease 0s;
}

.mainPageButton:hover{
    background-color:rgba(255,255,255,0.5);;
    border: 1px solid  #41ad2b;
    border-radius: 2rem;
    padding: 1.2rem 1.8rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    color: #41ad2b;

}



@media only screen and (max-width : 480px ){

             #mainImg{
                 display: none;
                 width: 0px;
             }


                .PageMainContent{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }


                .pageMainImg{
                    width: 18.75rem;
                    height: 18.75rem;
                    border: 0.5px solid transparent;
                    border-radius: 50%;
                }
            
                .innerContent{
                    display:flex;
                    flex-direction:column;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                }

            
                .mainPageButton{
                background-color:  #41ad2b;
                border: 1px solid #fff;
                border-radius: 2rem;
                width: 10rem;
                padding: 1.0rem 1.5rem;
                font-size: 1rem;
                align-self: center;
                color: #fff;
                transition : all 0.3s ease 0s;
            }

            #otherContent{
                display: none;
            }

}



@media only screen and (max-width : 480px ){
 .pageMainImg{
                    width: 200px;
                    height: 200px;
                    border: 0.5px solid transparent;
                    border-radius: 50%;
                }


}